  .imgHomePContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .homeImg{
    border-radius: 3px;
  }

  .homeH1{
    color: rgb(19, 101, 121);
    font-size: 1.5rem;
    margin: 2rem;
  }

  .homeTextContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .homeP{
    font-size: 1.1rem;
    padding: .5rem;
    text-align: center;
  }

  .sessionsHomeDiv{
    border: 1px solid rgb(19, 101, 121);
    border-radius: 5px;
    height: 210px;
    width: 250px;
    margin: 2rem auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  } 

  .sessionsHomeDiv h3{
    color: rgb(19, 101, 121);
  }

  .sessionsHomeP{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    height: 6em;
    line-height: 1.5em;
    margin-bottom: 12px;
  }

  @media (min-width: 320px){
    .homeImg{
      width: 100%;
      height: auto;
    }

    .homeP{
      padding: 0 2rem;
    }
  }

  @media (min-width:470px){
    .homeImg{
      width: 470px;
      margin-top: 1rem;
    }

    .homeP{
      font-size: 1.2rem;
      margin-bottom: 3rem;
    }

    .sessionsHomeDiv{
      width: 370px;
    }
  }

@media (min-width:720px){
  .imgHomePContainer{
    flex-direction: column-reverse;
  }

  .homeH1{
    margin: 2rem 0;
    font-size: 2rem;
    font-style: oblique;
  }
}

  @media (min-width:940px){
    .imgHomePContainer{
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin: 2rem 2rem;
    }
    
    .homeH1{
      margin: 0 0 2rem;
      font-size: 2.5rem;
      font-style: oblique;
    }
    
    .homeImg{
      grid-area: 1 / 2 / 2 / 3;
      justify-self: center;
    }
    
    .homeP{
      margin-bottom: 0;
      text-align: end;
    }

    .sessionsHomeDivContainer{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      margin-top: 5rem;
    }

    .sessionsHomeDiv{
      width: 250px;
    }
  }