  .imgHomePContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .homeImg{
    opacity: .9;
    border-radius: 3px;
  }

  .homeP{
    font-size: 1.1rem;
    padding: .5rem;
    text-align: center;
    /* color: rgb(19, 101, 121); */
  }

  .sessionsDiv{
    border: 1px solid rgb(19, 101, 121);
    border-radius: 5px;
    height: 200px;
    width: 250px;
    margin: 2rem auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  } 

  .sessionsDiv h3{
    color: rgb(19, 101, 121);
  }

  .sessionsP{
    overflow: hidden;
    /* white-space: nowrap; */
    text-overflow: ellipsis;
  }

  @media (min-width: 320px){
    .homeImg{
      width: 100%;
      height: auto;
    }

    .homeP{
      padding: 2rem;
    }
  }

  @media (min-width:470px){
    .homeImg{
      width: 470px;
      margin-top: 1rem;
    }

    .homeP{
      font-size: 1.2rem;
    }

    .sessionsDiv{
      width: 370px;
    }
  }

  @media (min-width:850px){
    .imgHomePContainer{
      display: grid;
      
      grid-template-columns: 1fr 1fr;
      margin: 2rem 2rem;
    }

    .homeImg{
      width: 100%;
      grid-area: 1 / 2 / 2 / 3;
    }

    .sessionsDivContainer{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      margin-top: 5rem;
    }

    .sessionsDiv{
      width: 250px;
    }
  }