.navBar{
    display: flex;
    justify-content: space-between;
    padding: .5rem;
}

.navBarIcon{
    margin-left: 1rem;
}

.navBar ul{
    padding: .2rem;
    margin-right: .5rem;
    display: flex;
    align-items: self-end;
    justify-content: space-between;
    list-style: none;
    gap: 1rem;
}

.navBar ul li{
    font-size: 1rem;
}

.burger-button {
    background: none;
    border: none;
}
  
.bar {
    width: 30px;
    height: 3px;
    background-color: rgb(121, 89, 19);
    margin: 6px 0;
}

.link {
    text-decoration: none;
    color: rgb(121, 89, 19);
    font-size: 1.5rem;
  }

  @media (min-width:720px){
    .navBarIcon{
        margin-left: 2rem;
        transform: translateY(5%);
    }
  }

  @media (min-width:950px){
    .navBar{
        padding-top: 2rem;
    }
    
    .navBar ul{
        width: 470px;
    }

  }
